.container {
    padding-top: 8rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: var(--bg-color);
    color: var(--text-primary);
}

.heading {
    color: var(--text-primary);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--text-primary);
}

.paragraph {
    color: var(--text-primary);
    font-size: 1rem;
}